@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
	@apply bg-sky-900 text-gray-100 rounded;
}

button {
	@apply h-12 w-12 p-2 m-2 flex justify-center items-center shadow-lg bg-red-700 hover:bg-cyan-500 mb-2 border-2 rounded-md ;
}

.selected {
	@apply border-red-600 border-4 rounded-lg bg-cyan-500 ;
}
